*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    color: #532727;
}
/*asdasd*/
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}
.tdDiv{
    margin-top: 10px; 
    font-size: 0.8rem;
    font-style: italic; 
    color: #555;
}
.pulse-button {
    animation: pulse 2.25s infinite;
}
section {
    background-color: #323232;
}

.text-white {
    color: #fff;
}


/* Navbar stílus */
.navbar{
    background: black;
    opacity: 0.9;
}
.nav-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: wheat;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover::after {
    width: 60%;
    background: black;
}
.nav-link.active::after {
    width: 60%;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: wheat;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.navbar-toggler-icon {
    width: 30px;
    height: 30px;
    background-color: black;
}

.navbar-brand img {
    width: 150px;
}

.nav-link {
    color: white;
    font-weight: bold;
    transition: ease 0.3s;
}

.nav-link:hover{
    color: black;
    transform: scale(1.1);
    background: white;
    border-radius: 5px;
    opacity: 0.8;

}
.nav-link a.active {
    border-bottom: 2px solidrgb(255, 255, 255);
}

/* Kizárólag a munkafolyamat táblázat stílusai */
.table-wrapper {
    width: 100%;
    border-collapse: collapse;
    /* Szegélyek összemosása */
    background-color: #ffffff;
    /* Fehér háttér kizárólag a táblázatnak */
    color: #333;
    /* Fekete betűszín az olvashatóság érdekében */
    margin-bottom: 20px;
    border-radius: 5pt;
}

/* Táblázat fejléc (`th`) stílusai */
.table-wrapper th {
    background-color: #818181;
    /* Világos szürke háttér a fejléceknek */
    color: #f0f0f0;
    /* Fekete betűszín az olvashatóság érdekében */
    font-weight: bold;
    padding: 12px;
    border: 1px solid #ccc;
    /* Vékony szegély a fejléc körül */
}

/* Táblázat cellák (`td`) stílusai */
.table-wrapper td {
    padding: 12px;
    /* Belépő tér */
    text-align: left;
    /* Balra igazítás */
    border: 1px solid #ccc;
    /* Vékony szegély a cellák körül */
    background-color: #ffffff;
    /* Fehér háttér a celláknak */
    color: #333;
    /* Fekete betűszín */
    font-weight: bold;
}

/* Táblázat külső szegélye */
.table-wrapper {
    border: 1px solid #ccc;
    /* Vékony szegély az egész táblázat körül */
}

/* Alternáló sorok kiemelése */
.table-wrapper tr:nth-child(even) td {
    background-color: #f9f9f9;
    /* Minden második sor világosabb háttérrel */
}

.small-red-text {
    font-size: 0.8rem;
    color: red;
}

.special-description {
    font-weight: bold;
    color: red;
    font-size: 14px;
}