*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar stílus */
.navbar{
    background: black;
    opacity: 0.9;
}
.nav-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: wheat;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover::after {
    width: 60%;
    background: black;
}
.nav-link.active::after {
    width: 60%;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: wheat;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.navbar-toggler-icon {
    width: 30px;
    height: 30px;
    background-color: black;
}

.navbar-brand img {
    width: 150px;
}

.nav-link {
    color: white;
    font-weight: bold;
    transition: ease 0.3s;
}

.nav-link:hover{
    color: black;
    transform: scale(1.1);
    background: white;
    border-radius: 5px;
    opacity: 0.8;

}
.nav-link a.active {
    border-bottom: 2px solidrgb(255, 255, 255);
}
footer {
    background-color: #333333;
    color: white;
    padding: 20px 0;
}

footer a {
    color: #929292;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: #d3d3d3;
}
/* asdasd */
#specialis-szoveg {
    color: #9c9a22;
}

#specialis-szoveg:hover {
    color: #ff00d4;
}

/* Szekció háttér */
section {
    background-color: #323335;
    font-weight: bold;
    padding: 3rem 0;
}

a{
    color: #459a55;
    text-decoration: none;
}

a:hover{
    color: #459a55;
}