body {
    background-color: #f8f9fa;
}

h2 {
    color: #333;
}

.card {
    background-color: #521d11;
    border: none;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.2rem;
    color: #ffffff; /* Narancssárga cím */
    font-weight: bold;
}

.card-text {
    color: #ffffff; /* Világos szürke szöveg */
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    background-color: #3b3939; /* Narancssárga háttér */
    color: white;
}

.text-white {
    color: #fff;
}

/* Szekció háttér, ha szeretnél saját képet */
section {
    background-color: #323335;
    font-weight: bold;
    padding: 3rem 0;
}

/* Navbar stílus */
.navbar {
    background-color: #ffffff; /* világos háttér */
}

.navbar-toggler-icon {
    width: 30px;
    height: 30px;
    background-color: black /* Fehér háttér a hamburger ikonhoz */
}

a[nav-link]:hover{
    color: #521d11;
}

.nav-link {
    color: #333333; /* alap szín */
    font-weight: bold; /* vastag szöveg */
}
.nav-link:hover {
    color: #ff6600; /* narancssárga hover szín */
}
/* Footer stílus */
footer {
    background-color: #333333; /* sötét háttér */
    color: white; /* szöveg színe */
    padding: 20px 0; /* padding a lábléchez */
}
footer a {
    color: #929292; /* világos szürke szín */
    font-weight: bold; /* félkövér */
    text-decoration: none; /* aláhúzás eltávolítása */
}
footer a:hover {
    color: #d3d3d3; /* narancssárga hover szín */
}
h4,h3{
    font-weight: bold;
}

#specialis-szoveg{
    color: #9c9a22; /* Alapértelmezett szín */
}
#specialis-szoveg:hover {
    color: #ff00d4; /* Hover szín */
}

.card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}



table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #532727;
}

td {
    background-color: #fff;
}

.table-wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #532727;
}

.navbar {
    background-color: #532727;
}

.navbar-brand img {
    width: 150px;
}

.nav-link {
    color: wheat !important;
    font-weight: bold;
}
.card-body {
    max-width: 100%; /* Biztosítja, hogy ne lépje túl a kártya szélességét */
    overflow: hidden; /* Ha túl hosszú szöveg van, ne lógjon ki */
    padding: 20px; /* Kényelmes távolságot biztosít a tartalom körül */
}

.card-title, .card-text {
    word-wrap: break-word; /* Ha túl hosszú a szöveg, tördelje azt */
    text-overflow: ellipsis; /* A túl hosszú szöveget elcsípheti, ha kell */
}



/* Reszponzív kártya stílus */
@media (max-width: 768px) {
    .card-body {
        padding: 1rem;
    }
}
