body {
    background-color: #f8f9fa;
}

h2 {
    color: #333;
}

.card {
    background-color: #ff6600;
    border: none;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.2rem;
    color: #ffffff; /* Narancssárga cím */
    font-weight: bold;
}

.card-text {
    color: #ffffff; /* Világos szürke szöveg */
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    background-color: #3b3939; /* Narancssárga háttér */
    color: white;
}

.text-white {
    color: #fff;
}

/* Szekció háttér, ha szeretnél saját képet */
section {
    background-color: #323335;
    font-weight: bold;
    padding: 3rem 0;
}

.navbar-nav .nav-link {
    color: white; /* Alapértelmezett szín */
    font-weight: bold; /* Vastagabb szöveg */
    transition: color 0.3s ease; /* Animáció a színváltoztatáshoz */
}

.navbar-nav .nav-link:hover {
    color: #ff6600; /* Narancssárga hover szín */
}


/* Reszponzív kártya stílus */
@media (max-width: 768px) {
    .card-body {
        padding: 1rem;
    }
}
