:root {
  /* CSS HEX */
  --platinum: #d7dedcff;
  --timberwolf: #cfcfcdff;
  --eggplant: #563440ff;
  --dark-purple: #241623ff;
  --sage: #d0cd94ff;
  --myrtle-green: #3c787eff;
  --rich-black: #001524;
  --wenge: #564e58;
  --onyx: #2e3532;
  --sunset: #f6d8ae;
  --imperial-red: #f71735;
  --tiffany-blue: #98e2c6ff;
  --cool-gray: #9a98b5ff;
  --tropical-indigo: #a594f9ff;
  --xanthous: #ad8f53;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  */
body {
  font-family: "Press Start 2P";
  background: var(--myrtle-green);
}
.flex{
  color: var(--dark-purple);
}

.grid{
  align-items: center;
  justify-content: center;
  height: 70vh;
}
@font-face {
  font-family: "Monocraft";
  src: url("fonts/Monocraft.ttf") format("truetype");
}

/* Egyszerű fade-up animáció */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}
